footer{
    background-color: rgb(39, 39, 39);
}

p{
    color: rgb(154, 152, 154);
}

a{
    text-decoration: none;
    color: rgb(154, 152, 154);
}

a:hover{
    color: white;
}

.nav-link{
    color: rgb(154, 152, 154);
}