/*Common Style sheet for both the nav bars*/

.navbar{
    background-color: black;
    padding: 0%;
}

.navbar-fixed{
    position: fixed;
    top: 0vh;
    z-index: 1;
}

.dropdown{
    background-color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;    
}

#dropdownMenuButton:hover{
    color: antiquewhite;
}

#MenuButton:hover{
    color: antiquewhite;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(32, 29, 29, 0.8);
    border-radius: 0%;
    padding: 0%;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: black;
    color: white;
}

.row{
    margin-right: auto;
    margin-left: auto;
    /* background-color: rgba(186,35,28,255); red */
}

#first-navbar{
    /* background-color: rgb(27, 27, 27); */
    background-color: rgb(39, 39, 39);
    color: grey;
}

.navbar-brand{
    color: rgb(236, 7, 7);
    /* color: rgb(26, 253, 75); ben10 */
    /* color: rgb(253, 211, 26); yellow */
    /* color: rgb(121, 7, 214); purple */
    /* color: rgb(7, 214, 186); blue-green */
}

.navbar-brand:hover{
    color: rgb(253, 26, 26);
}

#second-navbar{
    background-color: black;
}

.form-control{
    background-color: black;
    border-color: black;
}
.form-control::placeholder{
    color: grey;
}

.btn{
    background-color: black;
    color: grey;
}

#login,
#logout,
#cart{
    margin: auto;
    padding: auto;
}

#login:hover,
#logout:hover,
#cart:hover
{
    color: white;
} 

#nav-search-bar{
    margin: auto;
    padding: 0%;
}

#search{
    border-radius: 0%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search:hover{
    background-color: rgb(56, 56, 56);
}

#search-results{
    background-color: white;
    color: black;
}