.product-view-container {
    display: flex;
    padding: 20px;
  }
  
  .product-image {
    flex: 1;
    margin-right: 1px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 1;
  }
  .product-details {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  a:hover {
    cursor:pointer;
   }
  
  .rating-container {
    display: flex;
    align-items: center;
  }
  
  .rating-stars {
    color: #ffd700; 
    font-size: 1.5em;
  }
  
  .star {
    margin-right: 3px;
  }
  .add-to-cart-btn {
    max-width: 150px; 
    width: 100%; 
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3; 
  }
  .compare-btn {
    max-width: 150px;
    width: 100%;
    background-color: #28a745; 
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .compare-btn:hover {
    background-color: #218838; 
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .corr {
    text-align: left;
    border: 3px solid green;
  }