  h2 {
    color: #e12918;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
  }

  .main_div {
    width: 600px;
    /* background: black; */
    background-color: rgb(27, 27, 27);
    padding: 30px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .main_div .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  form {
    margin-top: 25px;
    color: whitesmoke;
  }

  form .input_box {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }

  .input_box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 3px solid #bf310a;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }

  .input_box input:focus {
    border-color: #bf310a;
    background-color: rgb(226, 157, 138);
  }

  .input_box .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;

    padding: 14px;
    border-radius: 5px;
  }


   .btnloginsignup input {
    height: 45px;
    margin-top: 15px;
    outline: none;
    border-radius: 5px;
    padding-left: 0;
    background: #e12918;
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 100%;
  }

  
  .btnloginsignup input:hover {
    background: #030100;
    transition: all 0.3s linear;
  }

  .sign_up {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: whitesmoke;
  }

  .sign_up a {
    color: #e12918;
    text-decoration: none;
  }

  form a:hover {
    text-decoration: underline;
  }